.st-emotion-cache-12w0qpk{
    background-color:aquamarine;
    border-radius: 8px;
    padding: 10px;
}
.st-emotion-cache-10trblm{
    text-align: center;
}
.diagnosis{
    color: white;
    padding: 0.2em 8px;
    border-radius: 10px;
}
.diagnosis.benign{
    background-color: green;
}
.diagnosis.malicious{
    background-color: red;
}
.e1nzilvr5{
    text-align: center;
}
.st-emotion-cache-16txtl3.eczjsme4{
    background-color: black;
    color: white;
}
.st-emotion-cache-1629p8f.e1nzilvr2 h2{
    color: white;
}
.st-emotion-cache-l9bjmx.e1nzilvr5 p{
    color: white;
}
.st-emotion-cache-1inwz65.ew7r33m0{
    color: rgb(183, 177, 177);
}